<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">


<head th:replace="~{base :: head}"></head>

<body>
    <!-- Navbar Start -->
        <div th:replace="~{base :: navbar(reservation='active')}"></div>
    
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Reservation</h1>
            <div class="d-inline-flex mb-lg-5">
                <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">Reservation</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


     <!-- Reservation Start -->
  		<div th:replace="~{base :: reservation}"></div>
    <!-- Reservation End -->


    <!-- Footer Start -->
            <div th:replace = "~{base :: header(text='Reservation')}"></div>
    
    <!-- Footer End -->


    	<div th:replace="~{base :: script}"></div>
    
</body>

</html>